/* From the :root element you can easily change the colors of the design, its size and so on. */
:root {

  /* You can change the font family in the whole design here. (You need to add the font family to the codes.) */
  --font_family: 'Inter', sans-serif;

  /* You can change the font size here, is proportional to all texts. */
  --font_size: 16px;

  /* You can change the background color by typing the color code. (If you do not enter a background-image image, the background-color will be active.) */
  --background_color: #000;
  --background_image: url("../img/wallpaper.png");

  /* You can change the frame thickness and color of the picture by typing the number of pixels and the color code. */
  --image_border_color: #1f232e;
  --image_border_px: 3px;

  /* You can change the width and size of the picture by typing the number of pixels. */
  --image_width: 140px;
  --image_height: 140px;

  /* You can change the colors of the title and description section by typing the color codes. */
  --title_color: #222;
  --description_color: #fff;

  /* You can change the colors of social media icons by changing the color code. */
  --svg_color: #fff;

  /* You can change the background, text color and active color of the menu by changing the color codes. */
  --menu_background_color: rgba(200, 200, 210, 0.9);
  --menu_text_color: #fff;
  --menu_active_text_color: #d7e04f;

  /* You can change the button's background, text color and active color by changing the color codes. */
  --button_background_color: #404040;
  --button_text_color: #eee;
  --button_text_hover_color: #7af;

  /* You can change the background, text color and active color of the text field by changing the color codes. */
  --textarea_background_color: #1d1e24;
  --textarea_text_color: #fff;
  --textarea_link_text_color: #d7e04f;

  /* You can change the background, text color and active color of the footer area by changing the color codes. */
  --footer_background_color: #1d1e24;
  --footer_text_color: #fff;
  --footer_link_text_color: #d7e04f;
  --footer_text_size: 2.5em;
}

/* Basic Codes */

body {
  font: var(--font_size) var(--font_family);
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
}

/* Logo, Title and Description Codes */

.header_img img {
  height: var(--image_height);
  width: var(--image_width);
  border: var(--image_border_px) solid var(--image_border_color);
  border-radius: 50%;
/*   margin-bottom: 0.5em; */
}

.header_text h1 {
  color: var(--title_color);
  font-size: 2em;
}

.header_text h2 {
  color: var(--description_color);
  font-size: 1.2em;
}

/* Menu Container Codes */

.main_a_item {
  margin-top: 1em;
  text-decoration: none;
  pointer-events: auto;
}

button {
  pointer-events: auto;
}

.main_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 18em;
  border-radius: 1em;
/*  border: solid;
  border-width: 0.2em; */
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
/*  padding-left: 2em;
  padding-right: 2em; */
}

.main_button_item p {
    font-size: calc(var(--font_size)*0.8);
}

.main_button_item img {
  height: var(--font_size);
  position: relative;
  top: 2px;
}

.main_button_item:hover {
  color: var(--button_text_hover_color);
  transform: scale(1.02);
  transition: 0.10s ease;
}

#foreground {
    /* z-index: 1; */
    position: relative;
    min-height: 100vh;
    pointer-events: none;
    text-align: center;
}

/* Background media */

canvas {
/*    display: block;*/
    position: fixed;
/*            background-color: #ddd; */
}

.control-buttons > button {
    border: 2px solid #000;
    padding: 2px 4px;
}

/* Footer Codes */

#content-wrap {
    padding: 1rem;
    display: inline-block;
    background-color: var(--menu_background_color);
    box-shadow: 0 0 10px 5px var(--menu_background_color);
}

#content-wrap > div {
    text-align: center;
    margin: 0.5em auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    color: var(--footer_text_color);
    background: var(--footer_background_color);
    text-align: center;
    font-size: 0.75rem;
}

.footer_div_item {
/*  padding: 1em;
  margin-top: 1.5em; */
}

.footer_a_item {
  color: var(--footer_link_text_color);
  text-decoration: none;
}

/* Responsive Codes */

@media (max-width: 768px) { 
  .main_text_item {
    width: 92vw;
  }

  .main_button_item {
    width: 92vw;
  }
  
  .header_h_item {
    width: 92vw;
    text-align: center;
  }
  
}
